#left-container {position: relative;
    background-color: #313030;
    padding: 0;
    margin-right: 0px;
    height: 100vh;
    right: 0%;
    width: 16%;
    transition:}

#rigth-container {padding-right: 0%}

.letter {color: white; 
  font-size: 12px;}

.letter:hover {
  color: #313030;}

.letter1:target {
  color: green;
  font-size: 30px;
}

.letter-container-all {height: 94vh;
 position: absolute; 
 right: 45%;
  width: 25px; 
  top: 6%;}

#letter1 {border-radius: 100%; 
  border-style: solid;
   border-color: white; 
   text-align: center; 
   border-width: 2px;
    padding-top: 2px;
     padding-bottom: 2px; 
     transition: width 2s;}

#letter1:hover { background-color: white;}


.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
    left: 0;
}​


#picture {width: 20%;}

.white-box { background-color: white;
 width: 100%;
 height: 100%; 
  border-radius: 4%; 
  border-style: solid;
 border-color: white;}

 .blue-box { background-color: #166BC8;
 width: 100%;
 height: 100%; 
  border-radius: 4%; 
  border-style: solid;
 border-color: black;
opacity: 0.5;}
 
 #back-blue {background-image: url("../img/background_2.jpg"); 
 height: 100vh; 
 width: 100%; 
 position: relative;}

 #back-white {background-image: url("../img/background.jpg"); 
 height: 100vh; 
 width: 100%; 
 position: relative;}

 .box {position: absolute;
  top: 25%; 
  left: 3%;
   width: 32%; 
   height: 51%;}

 .box-person {position: absolute;
  top: 26%; 
  left: 62%;
   width: 13%;
    z-index: 10}

 .hack {position: absolute;
  top: 26%; 
  left: 56%;
   width: 26%; 
   z-index: 9}

img{width: 100%}

.name {font-size: 232%;
 color: black;
  text-align: center;
  opacity: 0.8;
  padding: 0px;
  margin: 0px;}

.name-white {font-size: 232%;
  color: white;
  text-align: center;
  opacity: 1;
  padding: 0px;
  margin: 0px;}

.box-name {border-color: #4E4E4E;
 border-style: solid;
  border-width: 6px;
   background-color: white;
    opacity: 0.7; 
    position: absolute;
    top: 67%;
    left: 37%;
    width: 60%;
    z-index: 11;
  }

  .box-name-blue {border-color: black;
 border-style: solid;
  border-width: 6px;
   background-color: #166BC8;
    opacity: 0.7; 
    position: absolute;
    top: 67%;
    left: 37%;
    width: 60%;
    z-index: 11;
  }

.top-text {font-size: 200%;
 text-align: center; 
 color: gray;}

 .top-text-white {font-size: 200%;
 text-align: center; 
 color: white;}

.bottom-text {font-size: 100%; 
  text-align: center; 
  color: gray; }

  .bottom-text-white {font-size: 100%; 
  text-align: center; 
  color: white; }

#logo-face { width: 10%; position: absolute; top: 81%; left: 10%; }

#logo-insta { width: 10%; position: absolute; top: 81%; left: 45%;}

#logo-twitter { width: 10%; position: absolute; top: 81%; left: 80%; }

.invert {-webkit-filter: invert(100%); opacity: 0.7;}

#move-top {position: absolute; top: 0%; left:0%; width: 100%; height: 10vh; background-color: black; opacity: 0.4; text-align: center; font-size: 350%; color: white;}

#move-down {position: absolute; top: 90%; left:0%; width: 100%; height: 10vh; background-color: black; opacity: 0.4; text-align: center; font-size: 350%; color: white;} 